<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
   
    
    <add key="EndPointUrl" value="https://sc-aggpagetest.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="yourkey"/>

    <add key="DatabaseId" value="test"/>
    <add key="CollectionId" value="index7"/>

    <add key="Idpath1" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$t&quot;/?"/>

    <add key="Idpath2" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$v&quot;/?"/>

    <add key="Idpath3" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$v&quot;/[]/&quot;$v&quot;/?"/>

    <add key="Idpath4" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$v&quot;/[]/&quot;$t&quot;/?"/>
    
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
